<h1 align="center">Employees Data</h1>

<div>
    <table align="center" border="2">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Country</th>
                <th>DOJ</th>
                <th>EmailId</th>
                <th>Experience</th>        <!-- Adding the Experience Column -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.empId}}</td>
                <td>{{emp.empName | gender: emp.gender | uppercase }}</td>  <!--Applying gender pipe-->
                <td>{{emp.salary  | currency:'INR'}}</td>
                <td>{{emp.gender  | lowercase}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.doj     | date:'dd-MMM-yyyy'}}</td>
                <td>{{emp.emailId}}</td>
                <td>{{emp.doj     | exp}}</td>
            </tr>
        </tbody>
    </table>
</div>