.loginstyle{
text-align: center;
border: 2px solid black;
width: fit-content;
padding: 20px;
border-radius: 15px;
margin: 25px;
}
input{
    border-radius: 5px;
    font-size: 18px;
}
.maincont{
    display: flex;
    justify-content: center;
}
button{
    font-size: 18px;
    border: 1px solid blue;
    border-radius: 5px;
}