<h1>Login Form</h1>

<div>
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table>
        <tr>
            <td>Enter EmailId</td>
            <td><input type="text" name="emailId" ngModel #emailId="ngModel" required minlength="2" maxlength="20"/></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="password" ngModel #password="ngModel" required minlength="2" maxlength="10"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><button [disabled]="!loginForm.valid">Login</button></td>
        </tr>
    </table>
</form>


<div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
<div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>

<div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2 Characters</div>
<div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter Atleast 2 Characters</div>


</div>