<!-- <app-test></app-test> -->
<!-- <app-test2></app-test2> -->
<!-- <app-login></app-login>  -->
<!-- <app-register></app-register> -->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-showempbyid></app-showempbyid> -->
<!-- <app-product /> -->
<app-header></app-header>
<br/>
<marquee><h1>Hello Pranay, Have a nice day</h1></marquee>
<br/>
<!-- <app-register></app-register> -->
<router-outlet></router-outlet>