<h1>Register User</h1>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>

	<table>
		<tbody>
            <tr>
				<td>EmpId</td>
				<td><input type="text" name="empId" ngModel required minlength="2" maxlength="20" /></td>
			</tr>
			<tr>
				<td>EmpName</td>
				<td><input type="text" name="empName" ngModel required minlength="2" maxlength="20" /></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input type="text" name="salary" ngModel required minlength="2" maxlength="10" /></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>
					<select name="gender" ngModel required>
						<option value="" selected>Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Others">Others</option>
					</select>
				</td>
			</tr>
            <tr>
				<td>DateOfJoin</td>
				<td><input type="date" name="doj" ngModel required /></td>
			</tr>
            <tr>
				<td>Country</td>
				<td>
					<select name="country" ngModel required>
						<option value="" selected>Select Country</option>
						<option value="IND">INDIA</option>
						<option value="SRL">Sri Lanka</option>
						<option value="USA">USA</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Email-Id</td>
				<td>
					<input type="text" name="emailId" ngModel required email />
					<div *ngIf="regForm.controls['emailId'].errors?.['required'] && regForm.controls['emailId'].touched" style="color: red;">Please Enter Email-Id</div>
					<div *ngIf="regForm.controls['emailId'].errors?.['email'] && regForm.controls['emailId'].touched" style="color: red;">Please Enter a Valid Email-Id</div>
				</td>
			</tr>
			<tr>
				<td>Mobile Number</td>
				<td>
					<input type="text" name="mobileNumber" ngModel required pattern="[0-9]{10}" />
					<div *ngIf="regForm.controls['mobileNumber'].errors?.['required'] && regForm.controls['mobileNumber'].touched" style="color: red;">Please Enter Mobile Number</div>
					<div *ngIf="regForm.controls['mobileNumber'].errors?.['pattern'] && regForm.controls['mobileNumber'].touched" style="color: red;">Please Enter a Valid 10-digit Mobile Number</div>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<input type="password" name="password" ngModel required minlength="6" maxlength="20" />
					<div *ngIf="regForm.controls['password'].errors?.['required'] && regForm.controls['password'].touched" style="color: red;">Please Enter Password</div>
					<div *ngIf="regForm.controls['password'].errors?.['minlength'] && regForm.controls['password'].touched" style="color: red;">Password must be at least 6 characters long</div>
				</td>
			</tr>
            <tr>
				<td>Department</td>
				<td>
					<select name="department" ngModel required>
						<option value="" selected>Select Department</option>
						<option value="10">IT</option>
						<option value="20">Sales</option>
						<option value="30">Accounts</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button [disabled]="!regForm.valid">Register</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>
